.map-buttons {
	position:absolute;
	top:0;
	left:0;
	z-index:1000;
	padding:5px; 
}
.map-buttons .button  {
	border: 1px solid #000;
    background-color: #F5F2F2;
    border-radius: 5px;
    height:50px;
    width:50px;
    color: #323030;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 10px 0px 10px 10px;
    cursor: pointer;	
}

.map-buttons .button-on {
	border: 1px solid #000;
    background-color: #051B97;
    color: white;	
}

.map-buttons .button-disabled {
	border: 1px solid #999999;
  	background-color: #cccccc;
  	color: #666666;
  	cursor: default;
}

.jijeok {
	height:30px;
	position:absolute; 
	top:10px; right:128px;
	z-index:1000; 
	padding:5px; 
	background-color:#fff; 
	color:#333; 
	border:1px solid #333;
	opacity:.7;
}

 .jijeok-on {
 	background-color:rgb(42, 124, 221);
 	color:#fff;
 	border:1px solid #333;
 	transition:all .5s;
 	opacity:1;
 }


.mulgeon-txt {
	position:absolute;
	left:65px;
	top:3px;
	padding:0;
	height:42px;
}

.mulgeon-txt .search-txt {
	height: 38px;
	width: 450px;
	border:none;
}

.mulgeon-txt input[type="text"] { border: none }
.mulgeon-txt input:focus { outline: none; }

.mulgeon-txt #btnMulgeon {
	position:absolute;
	top:6px;
	left:480px;
	width: 32px;
	height: 32px;
	background-image: url(../img/search_icon.png); 
	border:0;
}

#dvMulgeonContainer {
	position:absolute;
	left:65px;
	top:50px;
	padding:0;
	display:none;
}

.menu-disabled {
	cursor: pointer;
}

.map-move { position:absolute; top:205px;left:500px; }

#btnMulgeonMap {
	background-image: url(../img/btn_mapmove.png);
	width: 80px;
    height: 33px;
    position: relative;
    left: -60px;
    top: 3px;
    padding: 0;
	border: none;
	
}

#btnBosangViewList { display:none; }
#btnBosangViewList.on { display:inline; }

/*물건보기 범례*/
.legend { width:20px;height:26px; }
.btn-search {
	width: 32px;
	height: 32px;
	background-image: url(../img/search_icon.png); 
	border:0;
}

.btn-search.mulgeon {
	position: relative;
	top: -5px;
}
