.map-buttons {
	position:absolute;
	top:0;
	left:0;
	z-index:1000;
	padding:5px; 
}
.map-buttons .button  {
	border: 1px solid #000;
    background-color: #F5F2F2;
    border-radius: 5px;
    height:50px;
    width:50px;
    color: #323030;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 10px 0px 10px 10px;
    cursor: pointer;	
}

.map-buttons .button-on {
	border: 1px solid #000;
    background-color: #051B97;
    color: white;	
}

.map-buttons .button-disabled {
	border: 1px solid #999999;
  	background-color: #cccccc;
  	color: #666666;
  	cursor: default;
}

.minimap-label {
	position:absolute;
	top:0;
	left:130px;
	z-index:1;
	padding:5px;
}

.jijeok {
	height:30px;
	position:absolute; 
	top:10px; 
	right:205px;
	z-index:1000; 
	padding:5px; 
	background-color:#fff; 
	color:#333; 
	border:1px solid #333;
	/*opacity:.7;*/
	display:none;
}

.jijeok-on {
 	background-color:rgb(42, 124, 221);
 	color:#fff;
 	border:1px solid #333;
 	/*transition:all .5s;*/
 	opacity:1;
}

.area {
	height:30px;
	width:66px;
	position:absolute; 
	top:10px; 
	right:140px;
	z-index:1000; 
	padding:5px; 
	background-color:#fff; 
	color:#333; 
	border:1px solid #333;
	font-family: Helvetica, AppleSDGothicNeo-Light, nanumgothic, NanumGothic, 나눔고딕, Dotum, 돋움, sans-serif;
	font-size:0.9em;
}
.area-on {
	background-color:rgb(42, 124, 221);
 	color:#fff;
 	border:1px solid #333;
 	opacity:1;
}

.naver-area-div {
	display:inline-block;
	padding:5px;
	text-align:center;
	background-color:#fff;
	border:1px solid #000;
}

.mulgeon-txt {
	position:absolute;
	left:65px;
	top:3px;
	padding:0;
	height:42px;
}

.mulgeon-txt .search-txt {
	height: 38px;
	width: 450px;
	border:none;
}

.mulgeon-txt input[type="text"] { border: none }
.mulgeon-txt input:focus { outline: none; }

.mulgeon-txt #btnMulgeon {
	position:absolute;
	top:6px;
	left:480px;
	width: 32px;
	height: 32px;
	background-image: url(../img/search_icon.png); 
	border:0;
}

#dvMulgeonContainer {
	position:absolute;
	left:65px;
	top:50px;
	padding:0;
	display:none;
}

.menu-disabled {
	cursor: pointer;
}

.map-move { position:absolute; top:205px;left:500px; }

#btnMulgeonMap {
	background-image: url(../img/btn_mapmove.png);
	width: 80px;
    height: 33px;
    position: relative;
    left: -60px;
    top: 3px;
    padding: 0;
	border: none;
	
}

#btnBosangViewList { display:none; }
#btnBosangViewList.on { display:inline; }

/*물건보기 범례*/
.legend { width:20px;height:26px; }
.level { width:51px; }
.btn-search {
	width: 32px;
	height: 32px;
	background-image: url(../img/search_icon.png); 
	border:0;
}

.btn-search.mulgeon {
	position: relative;
	top: -5px;
}

.btn-timeview { position:absolute; right:-1px; top:-1px; height:30px; background-color:#fff; border:1px solid #333; }
#dvTimeview {
	position:absolute;
	right:258px; 
	top:10px; 
	z-index:4;
	width:60px;
	height:30px; 
	padding:5px; 
	background-color:#fff; 
	color:#333; 
	border:1px solid #333;
	border-radius:5px;
	/*transition:all .7s;*/
	display:none;
	font-family: Helvetica, AppleSDGothicNeo-Light, nanumgothic, NanumGothic, 나눔고딕, Dotum, 돋움, sans-serif;
}

#btnNotice { 
	width: 30px;
	height: 30px;
	background-image: url(../img/notice_expand.png);
	position:relative;
	top: -28px;
	left: 545px;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    outline:none;
}

:focus {
	outline: none !important;
}

/********************************************************************
	inline-radio group
********************************************************************/
form.rdo-inline-modal {
  background: #fff;
  width: 100%;
  margin: auto;
  /*padding: 30px;*/
  padding-bottom: 30px;
  min-width: 320px;
  max-width: 540px;
  /*-webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
  /*        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
 /* border-radius: 3px;*/
}

form.rdo-inline-modal group + group {
  margin-top: 20px;
}
form.rdo-inline-modal .inline-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #b6b6b6;
}
form.rdo-inline-modal .inline-radio div {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
form.rdo-inline-modal .inline-radio input {
  width: 100%;
  height: 20px;
  opacity: 0;
}
form.rdo-inline-modal .inline-radio label {
  position: absolute;
  top: 0;
  left: 0;
  color: #b6b6b6;
  width: 100%;
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
  border-right: 1px solid #b6b6b6;
  cursor: Pointer;
}
form.rdo-inline-modal .inline-radio div:last-child label {
  border-right: 0;
}
form.rdo-inline-modal .inline-radio input:checked + label {
  background: #d81b60;
  font-weight: 500;
  color: #fff;
}