$layer-popup-zIndex:10;
$layer-year-range-zIndex:10;
$layer-year-range-auto-zIndex:10;
$dimScreen-zIndex:90000000;
$tbProfit-tooltip-zIndex:1020;
$dvYearRange-zIndex:1;
$dvAutoYearRange-zIndex:1;

/********************************************************************
 map height full
*********************************************************************/
html, body, #map { width: 100%; height: 100%; margin: 0; padding: 0; }
#map { position: relative; }

.navbar{margin-bottom: 0px !important;}

#radioBtn .notActive { color: #3276b1; background-color: #fff; }

/********************************************************************
 Tab Panel
*********************************************************************/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #3071a9;
	border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: #428bca;
	background-color: #fff;
	border-color: #428bca;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}

/********************************************************************
    주소검색 결과 라디오 버튼
********************************************************************/
.funkyradio div {
  clear: both;
  overflow: hidden;
}
.funkyradio label {
    /*min-width: 400px;*/
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}
.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
    display: none;
}
.funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:'';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}
.funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}
.funkyradio input[type="radio"]:checked ~ label, .funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}
.funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}
.funkyradio-default input[type="radio"]:checked ~ label:before, .funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}
.funkyradio-primary input[type="radio"]:checked ~ label:before, .funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}
.funkyradio-success input[type="radio"]:checked ~ label:before, .funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}
.funkyradio-danger input[type="radio"]:checked ~ label:before, .funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}
.funkyradio-warning input[type="radio"]:checked ~ label:before, .funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}
.funkyradio-info input[type="radio"]:checked ~ label:before, .funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}

/********************************************************************
    맵 메뉴버튼 클릭시 나오는 레이어
********************************************************************/
.layer-popup {display:none; position:absolute; left:50%; top:175px; z-index:$layer-popup-zIndex; padding:10px 10px 10px 10px; margin-left:-235px; background-color:#fff; border:1px solid #000;  border-radius: 5px;}

/********************************************************************
    타임시리얼 Div
********************************************************************/
.layer-year-range {display:none; position:absolute; right:140px; top:15px; z-index:$layer-year-range-zIndex; width:250px;}
.layer-year-range-auto {display:none; position:absolute; right:179px; top:15px; z-index:$layer-year-range-auto-zIndex; width:250px;}

/*#dvYearRange.ui-slider-pips .ui-slider-pip {
	color: #104B4A;
}

#dvYearRange.ui-widget-content {
	background: #166C05;
}*/

#dvYearRange {z-index:$dvYearRange-zIndex;}
#dvAutoYearRange {z-index:$dvAutoYearRange-zIndex;}
#dvYearRange .ui-rangeSlider-label {
	background-image: url(../vendors/jQRangeSlider-5.7.2/css/icons-classic/labelB.png);
	bottom: -33px;
	background-position: top center;
	padding: 8px 6px 2px;
}

/********************************************************************
    news rolling
********************************************************************/
.ticker {
	height: 40px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}

.ticker li {
	height: 35px;
	padding: 5px;
	margin:0px 5px;
}

/********************************************************************
    주소, 반경 검색 Tab
********************************************************************/
#tabAddrSearch .nav-tabs li,
#tabRadiusSearch .nav-tabs li {
	text-align:center;
    width: 50%;
}

/********************************************************************
   주소검색 결과 Div
********************************************************************/
.div-addr-result{
  height:480px;
  overflow:auto;
  border:1px solid #ccc;
  border-radius: 4px;
}

/*상세검색*/
#fmPin .form-group {
	margin-bottom:40px;
}

/*수익율 분석*/
#tbProfit span.sub {
	font-size:.8em;
}

#tbProfit .radio-td {
	margin-right: 40px;
}

/*modal*/
.modal-dialog.modal-fullsize {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.modal-content.modal-fullsize {
  height: auto;
  min-height: 100%;
  border-radius: 0; 
}

.modal-dialog.modal-bigsize {
  width: 80%;
  height: 80%;
  margin: 0;
  padding: 0;
}
.modal-content.modal-bigsize {
  height: auto;
  min-height: 80%;
  border-radius: 0; 
}

input[readonly]{
  background-color:transparent;
  border: 0;
  font-size: 1em;
}

#dimScreen {
	display:none;
	position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0);
    z-index:$dimScreen-zIndex;	
}

/********************************************************************
   수지분석 결과
********************************************************************/
#tbProfit .ui-slider-label {
	top: 15px;
	left: 20%;
	width: 3em;
}

#tbProfit .ui-slider {
  border-radius: 20px;
  background: #434d5a;
  border: none;
  height: 10px;
  margin: 1em 1em 2em 0em;
}

                    
#tbProfit .ui-slider-handle {
  border-radius: 23px;
  height: 23px;
  width: 23px;
  top: -7px;
  margin-left: -11px;
  /*border: 2px solid #fffaf7;*/
}

#tbProfit .ui-slider-pip {
  top: 3px;
}
                    
#tbProfit .ui-slider-pip .ui-slider-line {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  margin-left: -2px;
  background: #fffaf7;
}


#tbProfit .tooltip {
    position: absolute;
    z-index: $tbProfit-tooltip-zIndex;
    display: block;
    padding: 5px;
    font-size: 11px;
    visibility: visible;
    margin-top: -2px;
    bottom:120%;
    margin-left: -2em;
    opacity:1;
}

#tbProfit .tooltip-inner {
    max-width: 2000px;
    padding: 3px 8px;
    color: #ffffff;
    text-align: left;
    text-decoration: none;
    background-color: #000000;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

/*
	jQueryUI slider how to remove handle border
*/
.ui-slider a {outline:none;}

/*#fmForSale .control-label {font-size: .9em}
#fmForSale .checkbox-inline {font-size: .9em}*/

#fmForSale {overflow-y: auto;height:650px; width: 563px; overflow-x:hidden;}

#tbProfit .spinner {
  width: 100px;
}
#tbProfit .spinner input {
  text-align: right;
}
#tbProfit .input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
#tbProfit .input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
#tbProfit .input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
#tbProfit .input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
#tbProfit .input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}


#mapButtons .glyphicon {
    font-size: 25px;
}

/*#btnViewLandLimit.glyphicon {
    font-size: 18px;
}*/
/*
web-kit scrollbar style hide
*/
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/*
모달창에서 ie scrollbar style hide
*/
#containerModal {
    -ms-overflow-style: none;
    overflow: auto;
}
#tbProfit .container {width:300px;}
#tbProfit .row input[type="text"].form-control {width:101px;}
#tbProfit .lblX {padding-left:3px; padding-top: 7px;}

#tbProfit .cell-title {
	height: 25px;
    line-height: 25px;
    text-align: center;
}

#tbProfit .cell-title .cell-title-rdo {
    position: relative;
    top: 8px;
}

#tbProfit .cell-title .cell-title-spinner {
    position: relative;
    top: 6px;
}

#tbProfit .row-right {padding-right:10px;}

/*chrome button outline*/
.btn:focus,.btn:active {
  outline: none !important;
}

/*
	checkbox, radio remove blue outline
*/
input[type=checkbox]:focus + label::before,
input[type=radio]:focus + label::before {
    outline: none;
	outline: 0px !important;
	-webkit-appearance:none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

/**********************************************************
 경매 상세 페이지 이미지 carousel
**********************************************************/
#gDimages .carousel-control {
	height: 123px;
	top:5px;
	width:5%;
}

#gDlisthistory {
	overflow-y:scroll;
	overflow-x:auto;
}

.no-info {
	padding-top:5px;
}
