<div id="dvAcceptbuilding" class="container body" style="width:300px;height:450px; ">
	<div style="padding-top:10px">
		<button type="button" id="btnAcceptbuildingClose" class="glyphicon glyphicon-remove close" aria-label="Close"></button>
	</div>

	<table class="table table-bordered" id="tbAcceptbuilding" style="margin-top:10px;">
	<colgroup>
		<col style="width:25%">
    	<col style="width:65%">
	</colgroup>
	<tbody>
		<tr>
			<td colspan="2" style="text-align:right">
				<button id="btnAcceptbuildingDetail" class="btn-xs btn-info">상세조회</button>
			</td>
		</tr>
		<tr>
			<td>대지위치</td>
			<td><span id="aDaejiwichi"></span></td>
		</tr>
		<tr>
			<td>허가구분</td>
			<td><span id="aAcceptgubun"></span></td>
		</tr>
		<tr>
			<td>허가신고일</td>
			<td><span id="aAcceptsingoil"></span></td>
		</tr>
	</tbody>
	</table>
</div>
