<div id="dvCellDetail" style="width:300px;">
	{{weight}}
	<div style="width:90%">
        <div style="padding-bottom: 60px; padding-left: 10px">
            <canvas id="canvas" height="200" width="200" ></canvas>
        </div>
    </div>
</div>