<div id="dvGyeongmaeDetail" class="container body" style="width:90%;">
	<table class="table table-bordered" id="tbGyeongmaeDetail" >
	<colgroup>
		<col style="width:10%">
    	<col style="width:20%">
    	<col style="width:15%">
    	<col style="width:25%">
    	<col style="width:10%">
    	<col style="width:30%">
	</colgroup>
	<tbody>
		<tr>
			<td>사건번호</td>
			<td><span id="gDsageonbeonho"></span></td>
			<td>담당</td>
			<td><span id="gDdamdang"></span></td>
			<td>사건접수</td>
			<td><span id="gDsageonjeobsuil"></span></td>
		</tr>
		<tr>
			<td>소재지</td>
			<td colspan="3"><span id="gDsojaeji"></span></td>
			<td>물건종류</td>
			<td><span id="gDyongdo"></span></td>
		</tr>
		<tr>
			<td>물건비고</td>
			<td colspan="5"><span id="gDbigo"></span></td>
		</tr>
		<tr>
			<td>매각기일</td>
			<td colspan="3"><span id="gDmaegaggiil"></span></td>
			<td>입찰방법</td>
			<td><span id="gDibchalbangbeob"></span></td>
		</tr>
		<tr>
			<td>감정평가액</td>
			<td><span id="gDgamjeongpyeongga"></span></td>
			<td>최저매각가격</td>
			<td><san id="gDminmaegaggagyeog"></span></td>
			<td>유찰횟수</td>
			<td><span id="gDyuchal"></span></td>
		</tr>
		<tr>
			<td>배당요구종기</td>
			<td colspan="3"><span id="gDbaedangyogu"></span></td>
			<td>청구금액</td>
			<td><span id="gDcheonggu"></span></td>
		</tr>
		<tr>
			<td colspan="6" style="height:30px;"></td>
		</tr>
		<tr>
			<td>
				전경도(<span id="gDjeongyeongdo">0</span>)<br/>
				지적도(<span id="gDjijeogdo">0</span>)<br/>
				위치도(<span id="gDwichido">0</span>)<br/>
				관련사진(<span id="gDgwanlyeonsajin">0</span>)<br/>
				내부구조(<span id="gDnaebugujo">0</span>)<br/>
				기타(<span id="gDetc">0</span>)<br/>
			</td>
			<td colspan="5">
				 <div id="gDimages" class="carousel slide">
				 	<div id="gDimageCarousels" class="carousel-inner"></div>
            	</div>
			</td>
		</tr>
		<tr>
			<td colspan="6" style="height:30px;">기일내역</td>
		</tr>
		<tr id="gDgiilhistory">
			<td colspan="2">기일</td>
			<td>기일종류</td>
			<td>기일장소</td>
			<td>최저매각가격</td>
			<td>기일결과</td>
		</tr>
		<tr>
			<td colspan="6" style="height:30px">목록내역</td>
		</tr>
		<tr>
			<td>목록번호</td>
			<td>목록구분</td>
			<td colspan="4">상세내역</td>
		</tr>
		<tr>
			<td colspan="6" style="padding:0">
				<div id="gDlisthistory" style="height:150px;">
					<table class="table table-bordered" id="tbGyeongmaeListHistory" style="padding:0; margin:0">
						<colgroup>
							<col style="width:10%">
    						<col style="width:20%">
    						<col style="width:70%">
						</colgroup>
						<tbody></tbody>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="6" style="height:30px">인근매각물건사례</td>
		</tr>
		<td colspan="6">
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#tabMaegagmulgeon1" role="tab" data-toggle="tab">인근매각통계</a></li>
  				<li><a href="#tabMaegagmulgeon2" role="tab" data-toggle="tab">인근매각물건</a></li>
  				<li><a href="#tabMaegagmulgeon3" role="tab" data-toggle="tab">인근진행물건</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active" id="tabMaegagmulgeon1">
  					<div id="tabMaegagtonggye" class="no-info">정보가 존재하지 않습니다.</div>
  				</div>
  				<div class="tab-pane" id="tabMaegagmulgeon2">
  					<div id="tabMaegagmulgeon" class="no-info">정보가 존재하지 않습니다.</div>
  				</div>
  				<div class="tab-pane" id="tabMaegagmulgeon3">
  					<div id="tabJinhaengmulgeon" class="no-info">정보가 존재하지 않습니다.</div>
  				</div>
			</div>
		</td>
	</tbody>
	</table>
	
	<div id="enlargeImageModal" class="modal fade" aria-hidden="true" style="display: none; z-index: 1060;">
    	<div class="modal-dialog">
    		<div class="modal-content">
        		<div class="modal-header">
        			
        		</div>
        		<div class="modal-body">
          			<img id="enlargeImageModalSource" style="width: 500px; height:500px">
        		</div>
      		</div>
		</div>
	</div>
</div>
