<div id="dvGyeongmae" class="container body">
<div style="padding-top:5px">
	<button type="button" id="btnCellClose" class="glyphicon glyphicon-remove close" aria-label="Close"></button>
</div>

<table class="table table-bordered">
	
</table>

</div>
