<div id="dvGyeonggongSearch">
		<ul>
			<li>
				<p><img src="img/01.png" alt=""/></p>
				<span class="basic"><img src="img/01_table.jpg" alt=""></span>
			</li>	
			<li>
				<p><img src="img/02.png" alt=""/></p>
				<span><img src="img/02_table.jpg" alt=""></span>
			</li>	
			<li>
				<p><img src="img/03.png" alt=""/></p>
				<span><img src="img/03_table.jpg" alt=""></span>
			</li>		
		</ul>
		<div>
			<p class="search">
				<img src="img/search.png" alt=""/><img src="img/cancel.png" alt=""/>
			</p>
		</div>
		
	</div>