<div class="container" style="width:250px; padding-left:30px; font-size:0.9em;" id="dvHeatmap">
    <div class="col-sm-12">
    	<div class="radio radio-info">
        	<input id="heatmapOff" type="radio" name="rdoHeatmap" data-value="OFF" checked>
            <label for="heatmapOff">
            	heatmap 끄기
            </label>
        </div>
        <div class="radio radio-info">
             <input id="heatmapGongsi" type="radio" name="rdoHeatmap" data-value="GONGSI">
             <label for="heatmapGongsi">
                            공시지가
             </label>
        </div>
        <div class="radio radio-info">
        	<input id="heatmapGongsiGR" type="radio" name="rdoHeatmap" data-value="GONGSI_GR">
            <label for="heatmapGongsiGR">
                            공시지가 증가율
            </label>
        </div>
        <div class="radio radio-info">
        	<input id="heatmapAcceptBuilding" type="radio" name="rdoHeatmap" data-value="ACCEPT_BUILDING" disabled>
            <label for="heatmapAcceptBuilding">
                          건축허가면적
            </label>
        </div>
        <div class="radio radio-info">
        	<input id="heatmapAcceptBuilding" type="radio" name="rdoHeatmap" data-value="ACCEPT_BUILDING" disabled>
            <label for="heatmapAcceptBuilding">
                          건축허가면적 증가율
            </label>
        </div>
        <div class="radio radio-info">
        	<input id="heatmapAcceptBuilding" type="radio" name="rdoHeatmap" data-value="ACCEPT_BUILDING" disabled>
            <label for="heatmapAcceptBuilding">
                          영업허가면적
            </label>
        </div>
                <div class="radio radio-info">
        	<input id="heatmapAcceptBuilding" type="radio" name="rdoHeatmap" data-value="ACCEPT_BUILDING" disabled>
            <label for="heatmapAcceptBuilding">
                          영업허가면적 증가율
            </label>
        </div>
        <div class="radio radio-info">
        	<input id="heatmapAcceptBuilding" type="radio" name="rdoHeatmap" data-value="ACCEPT_BUILDING" disabled>
            <label for="heatmapAcceptBuilding">
                          개발행위허가면적
            </label>
        </div>
        <div class="radio radio-info">
        	<input id="heatmapAcceptBuilding" type="radio" name="rdoHeatmap" data-value="ACCEPT_BUILDING" disabled>
            <label for="heatmapAcceptBuilding">
                          개발행위허가면적 증가율
            </label>
        </div>
        <div class="radio radio-info">
        	<input id="heatmapAcceptBuilding" type="radio" name="rdoHeatmap" data-value="ACCEPT_BUILDING" disabled>
            <label for="heatmapAcceptBuilding">
                          개발사업면적
            </label>
        </div>
        <div class="radio radio-info">
        	<input id="heatmapAcceptBuilding" type="radio" name="rdoHeatmap" data-value="ACCEPT_BUILDING" disabled>
            <label for="heatmapAcceptBuilding">
                          개발사업면적 증가율
            </label>
        </div>
    </div>
</div>