<div class="container" style="width:250px; padding-left:30px" id="dvHeatmap">
    <div class="col-sm-12">
    	<div class="radio radio-info">
        	<input id="heatmapOff" type="radio" name="rdoHeatmap" data-value="OFF" checked>
            <label for="heatmapOff">
            	heatmap 끄기
            </label>
        </div>
        <div class="radio radio-info">
             <input id="heatmapGongsi" type="radio" name="rdoHeatmap" data-value="GONGSI">
             <label for="heatmapGongsi">
                            공시지가
             </label>
        </div>
        <div class="radio radio-info">
        	<input id="heatmapGongsiGR" type="radio" name="rdoHeatmap" data-value="GONGSI_GR">
            <label for="heatmapGongsiGR">
                            공시지가 증가율
            </label>
        </div>
    </div>
</div>