<div class="container">
<div class="row">
<div class="panel panel-primary" style="width:665px; height:700px;">
	<div class="panel-heading">로그아웃</div>
	<div class="panel-body">
		<div class="logout-msg">로그아웃 하시겠습니까?</div>
		<div class="logout-btns"><button id="btnLogoutYes" class="btn btn-success">확인</button>&nbsp;<button id="btnLogoutNo" class="btn">취소</button></div>
	</div>
</div>
</div>
</div>
