<div class="container" style="width:450px; height: 350px;">
	<div class="panel panel-default" style="margin:10px -10px 10px -10px;">
  		<div class="panel-heading">{{datas.address}}</div>
  		<div class="panel-body">
  			<!--<button type="button" id="btnAnalysisProfit" class="btn btn-primary" onclick='hotplace.dom.viewProfit({{{json datas}}})'>수지분석</button>-->
  			<div id="chartInfoCate" style="height:250px;"></div>
  		</div>
  	</div>
</div>
