<div class="row">
	<div class="col-lg-12">
    	<div class="input-group">
    		<span class="input-group-addon" id="searchTitle"></span>
      		<input type="text" class="form-control" placeholder="검색" id="txtMulgeon">
      		<span class="input-group-btn">
        		<button class="btn btn-default" id="btnMulgeon"><span class="glyphicon glyphicon-search"></span></button>
      		</span>
    	</div>
  	</div>
</div>
<div id="dvMulgeonContainer" style="display:none;">
	<div class="row">
		<div style="margin-top:5px;padding:0px;" class="col-lg-12 div-addr-result2" id="dvMulgeonResult"></div>
	</div>
	<div class="row" style="margin-top:5px;padding-left:495px;">
		<div class="col-lg-12">
        	<button type="button" class="btn btn-primary" id="btnMulgeonMap">지도이동</button>
    	</div>
	</div>
</div>
       	