<div id="dvAddressSearch">
	<div class="mulgeon-txt">
		<input type="text" class="search-txt" placeholder="검색" id="txtMulgeon"><button id="btnMulgeon"></button>
	</div>
	<div id="dvMulgeonContainer" style="display:none;">
		<div id="dvMulgeonResult"></div>
		<div class="map-move">
			<button type="button" id="btnMulgeonMap"></button>
		</div>
	</div>
</div>
    	