<div id="dvNotice">
	<div id="dvNoticeSearchItem">
		<select name="board" id="">
			<option value="제목">제목</option>
			<option value="내용">내용</option>
		</select>
		<div>
			<input type="text" placeholder="검색어를 입력하세요"/>
			<button>검색</button>
		</div>
	</div>
	<div id="dvNoticeTb">
<table>
	<tr>
		<th>번호</th>
		<th>제목</th>
		<th>첨부</th>
		<th>작성일</th>
		<th>조회</th>
	</tr>
	<tr>
		<td>공지</td>
		<td>hotplace 공지사항</td>
		<td>&nbsp;</td>
		<td>2018.02.10</td>
		<td>94</td>
	</tr>
	<tr>
		<td>공지</td>
		<td>hotplace 공지사항</td>
		<td>&nbsp;</td>
		<td>2018.02.10</td>
		<td>94</td>
	</tr>
						<tr>
							<td>공지</td>
							<td>hotplace 공지사항</td>
							<td>&nbsp;</td>
							<td>2018.02.10</td>
							<td>94</td>
						</tr>
						<tr>
							<td>공지</td>
							<td>hotplace 공지사항</td>
							<td>&nbsp;</td>
							<td>2018.02.10</td>
							<td>94</td>
						</tr>
						<tr>
							<td>공지</td>
							<td>hotplace 공지사항</td>
							<td>&nbsp;</td>
							<td>2018.02.10</td>
							<td>94</td>
						</tr>
						<tr>
							<td>공지</td>
							<td>hotplace 공지사항</td>
							<td>&nbsp;</td>
							<td>2018.02.10</td>
							<td>94</td>
						</tr>
						<tr>
							<td>공지</td>
							<td>hotplace 공지사항</td>
							<td>&nbsp;</td>
							<td>2018.02.10</td>
							<td>94</td>
						</tr>
						<tr>
							<td>공지</td>
							<td>hotplace 공지사항</td>
							<td>&nbsp;</td>
							<td>2018.02.10</td>
							<td>94</td>
						</tr>
						<tr>
							<td>공지</td>
							<td>hotplace 공지사항</td>
							<td>&nbsp;</td>
							<td>2018.02.10</td>
							<td>94</td>
						</tr>
						<tr>
							<td>공지</td>
							<td>hotplace 공지사항</td>
							<td>&nbsp;</td>
							<td>2018.02.10</td>
							<td>94</td>
						</tr>
						<tr>
							<td>공지</td>
							<td>hotplace 공지사항</td>
							<td>&nbsp;</td>
							<td>2018.02.10</td>
							<td>94</td>
						</tr>
					</table>
				</div>
</div>