<div class="container" style="width:300px">
	<div class="panel panel-default" style="margin:10px -10px 10px -10px">
  		<div class="panel-heading">
  			<button type="button" id="btnAnalysisProfit" class="btn btn-primary" onclick='hotplace.dom.viewProfit({{{json datas}}})'>수지분석</button>
  		</div>
  		<div class="panel-body">{{datas.address}}</div>
  	</div>
</div>