<div class="container" style="width:300px" id="rr">
	<div class="panel panel-default" style="margin:10px -10px 10px -10px">
  		<div class="panel-heading">
  			<button type="button" class="btn btn-primary" onclick="hotplace.dom.viewProfit()">수익률 분석</button>
  		</div>
  		<div class="panel-body">{{address}}</div>
  	</div>
</div>