<table class="table">
<tbody>
<tr>
	<td rowspan="3" style="width:8%">토지개요</td>
	<td>소재지(지번)</td>
	<td colspan="3" class="last"><span id="address"></span></td>
</tr>
<tr>
	<td style="width:15%">지목</td>
	<td style="width:33%"><span id="jimok"></span></td>
	<td style="width:4%">면적</td>
	<td class="last"><span id="area"></span> ㎡</td>
</tr>
<tr>
	<td>개별공시지가<br/>(㎡당)</td>
	<td colspan="3" class="last"><span id="gongsi"></span> 원</td>
</tr>
<tr>
	<td rowspan="5">
		토지이용<br/>
		규제현황
	</td>
	<td>국토계획법상 <br/>지역·지구 등</td>
	<td colspan="3" class="last"></td>
</tr>
<tr>
	<td>
		다른 법령에 따른<br/> 
		지역·지구 등
	</td> 
	<td colspan="4" class="last"></td>
</tr>
<tr>
	<td>
		기타
	</td> 
	<td colspan="4" class="last"></td>
</tr>
<tr>
	<td>
		토지이용규제 변경<br/>
		여부(최근 1년간) 
	</td> 
	<td colspan="4" class="last"><span id="limitChange"></span></td>
</tr>
<tr>
	<td>
		도입가능 용도<br/>
		(개략 검토) 
	</td> 
	<td colspan="4" class="last"></td>
</tr>
<tr>
	<td>
		Luris<br/>도면
	</td> 
	<td colspan="4" style="height:490px;" class="last">
		<img id="luris" style="height:480px;wdth:490px;">
	</td>
</tr> 
<tr>
	<td rowspan="3" class="tb-last">수지분석</td>
	<td>매입(보유)주체</td>
	<td colspan="3" class="last"></td>
</tr>
<tr>
	<td>보유기간</td> 
	<td colspan="3" class="last"><span id="ownTerm"></span></td>
</tr>
<tr>
	<td class="tb-last">타인자본비율</td> 
	<td colspan="3" class="last tb-last"><span id="otherAssetRatio"></span></td>
</tr>
</tbody>
</table>

<table class="table" style="margin-top:40px;">
<tbody>
<tr>
	<td colspan="6" style="text-align:right;border-left:0px;border-top:0px;border-right:0px;">(단위: ㎡, 원, 부가세 별도)</td>
</tr>
<tr>
	<td colspan="3">구분</td>
	<td>내역</td>
	<td>금액</td>
	<td class="last">비율</td>
</tr>
<tr>
	<td style="width:3%" rowspan="21" class="tb-last">지출</td>
	<td style="width:13%" rowspan="3">A.토지비</td>
	<td style="width:13%">매입금액</td>
	<td style="width:32%"><span id="tPurchase"></span> X <span id="sPurchase"></span></td>
	<td style="width:20%"><span id="wPurchase"></span></td>
	<td style="width:19%" class="last"><span id="rPurchase"></span></td>
</tr>
<tr>
	<td>명도비</td>
	<td><span id="tMyeongdobi"></span> X <span id="sMyeongdobi"></span></td>
	<td><span id="wMyeongdobi"></span></td>
	<td class="last"><span id="rMyeongdobi"></span></td>
</tr>
<tr>
	<td>
		토지사용<br/>
		승낙<br/>
	</td>
	<td><span id="tAcceptLandUse"></span> X <span id="sAcceptLandUse"></span></td>
	<td><span id="wAcceptLandUse"></span></td>
	<td class="last"><span id="rAcceptLandUse"></span></td>
</tr>
<tr>
	<td class="sogye-cate"></td>
	<td class="sogye">소 계</td>
	<td></td>
	<td><span id="wTojibi"></span></td>
	<td class="last"><span id="rTojibi"></span></td>
</tr>
<tr>
	<td>금융비용</td>
	<td>대출이자</td>
	<td><span id="tDaechulIja"></span> X <span id="sDaechulIja"></span></td>
	<td><span id="wDaechulIja"></span></td>
	<td class="last"><span id="rDaechulIja"></span></td>
</tr>
<tr>
	<td rowspan="3">B.제세금</td>
	<td>취득세</td>
	<td><span id="tChwideugse"></span> X <span id="sChwideugse"></span></td>
	<td><span id="wChwideugse"></span></td>
	<td class="last"><span id="rChwideugse"></span></td>
</tr>
<tr>
	<td>재산세</td>
	<td></td>
	<td></td>
	<td class="last"></td>
</tr>
<tr>
	<td>양도세</td>
	<td><span id="tYangdose"></span> X <span id="sYangdose"></span></td>
	<td><span id="wYangdose"></span></td>
	<td class="last"><span id="rYangdose"></span></td>
</tr>
<tr>
	<td class="sogye-cate"></td>
	<td class="sogye">소 계</td>
	<td></td>
	<td><span id="wJesegeum"></span></td>
	<td class="last"><span id="rJesegeum"></td>
</tr>
<tr>
	<td rowspan="4">C.공사비</td>
	<td>건축공사비<br/>
	(리모델링)</td>
	<td><span id="tGeonchugGongsa"></span> X <span id="sGeonchugGongsa"></span></td>
	<td><span id="wGeonchugGongsa"></span></td>
	<td class="last"><span id="rGeonchugGongsa"></span></td>
</tr>
<tr>
	<td>토목공사비</td>
	<td><span id="tTomogGongsa"></span> X <span id="sTomogGongsa"></span></td>
	<td><span id="wTomogGongsa"></span></td>
	<td class="last"><span id="rTomogGongsa"></span></td>
</tr>
<tr>
	<td>포장공사비</td>
	<td><span id="tPojangGongsa"></span> X <span id="sPojangGongsa"></span></td>
	<td><span id="wPojangGongsa"></span></td>
	<td class="last"><span id="rPojangGongsa"></span></td>
</tr>
<tr>
	<td>인입공사비</td>
	<td><span id="tInibGongsa"></span> X <span id="sInibGongsa"></span></td>
	<td><span id="wInibGongsa"></span></td>
	<td class="last"><span id="rInibGongsa"></span></td>
</tr>
<tr>
	<td  class="sogye-cate"></td>
	<td  class="sogye">소 계</td>
	<td></td>
	<td><span id="wGongsabi"></td>
	<td class="last"><span id="rGongsabi"></span></td>
</tr>
<tr>
	<td rowspan="5">D.인허가비</td>
	<td>개발행위<br/>허가 등</td>
	<td><span id="tAcceptGaebal"></span><span id="sAcceptGaebal"></span></td>
	<td><span id="wAcceptGaebal"></span></td>
	<td class="last"><span id="rAcceptGaebal"></span></td>
</tr>
<tr>
	<td>감리비</td>
	<td><span id="tGamri"></span> X <span id="sGamri"></span></td>
	<td><span id="wGamri"></span></td>
	<td class="last"><span id="rGamri"></span></td>
</tr>
<tr>
	<td>측량비</td>
	<td><span id="tCheuglyang"></span><span id="sCheuglyang"></span></td>
	<td><span id="wCheuglyang"></span></td>
	<td class="last"><span id="rCheuglyang"></span></td>
</tr>
<tr>
	<td>감정평가</td>
	<td><span id="tEvalueGamjeung"></span><span id="sEvalueGamjeung"></span></td>
	<td><span id="wEvalueGamjeung"></span></td>
	<td class="last"><span id="rEvalueGamjeung"></span></td>
</tr>
<tr>
	<td>필지분할</td>
	<td><span id="tSplitPilji"></span><span id="sSplitPilji"></span></td>
	<td><span id="wSplitPilji"></span></td>
	<td class="last"><span id="rSplitPilji"></span></td>
</tr>
<tr>
	<td class="tb-last sogye-cate"></td>
	<td class="tb-last sogye">소 계</td>
	<td class="tb-last"></td>
	<td class="tb-last"><span id="wInheogabi"></span></td>
	<td class="last tb-last"><span id="rInheogabi"></span></td>
</tr>
</tbody>
</table>

<table class="table" style="margin-top:90px;">
<tbody>
<tr>
	<td style="width:3%" rowspan="11">지출</td>
	<td style="width:13%" rowspan="3">E.부담금</td>
	<td style="width:13%">개발부담금</td>
	<td style="width:32%"><span id="tDevBudam"></span> X <span id="sDevBudam"></span></td>
	<td style="width:20%"><span id="wDevBudam"></span></td>
	<td style="width:19%" class="last"><span id="rDevBudam"></span></td>
</tr>
<tr>
	<td>농지보전<br/>부담금</td>
	<td><span id="tFarmBudam"></span> X <span id="sFarmBudam"></span></td>
	<td><span id="wFarmBudam"></span></td>
	<td class="last"><span id="rFarmBudam"></span></td>
</tr>
<tr>
	<td>대체산림<br/>자원조성비</td>
	<td><span id="tAlterSanrim"></span> X <span id="sAlterSanrim"></span></td>
	<td><span id="wAlterSanrim"></span></td>
	<td class="last"><span id="rAlterSanrim"></span></td>
</tr>
<tr>
	<td class="sogye-cate"></td>
	<td class="sogye">소 계</td>
	<td></td>
	<td><span id="wBudamgeum"></span></td>
	<td class="last"><span id="rBudamgeum"></span></td>
</tr>
<tr>
	<td rowspan="6">F.사업경비</td>
	<td>채권매입비</td>
	<td><span id="tPurchaseChaegwon"></span> X <span id="sPurchaseChaegwon"></span></td>
	<td><span id="wPurchaseChaegwon"></span></td>
	<td class="last"><span id="rPurchaseChaegwon"></span></td>
</tr>
<tr>
	<td>근저당<br/>설정비</td>
	<td><span id="tSetGeunjeodang"></span> X <span id="sSetGeunjeodang"></span></td>
	<td><span id="wSetGeunjeodang"></span></td>
	<td class="last"><span id="rSetGeunjeodang"></span></td>
</tr>
<tr>
	<td>보존등기비</td>
	<td><span id="tPreserveDeunggi"></span> X <span id="sPreserveDeunggi"></span></td>
	<td><span id="wPreserveDeunggi"></span></td>
	<td class="last"><span id="rPreserveDeunggi"></span></td>
</tr>
<tr>
	<td>운영비</td>
	<td><span id="tManagement"></span> X <span id="sManagement"></span></td>
	<td><span id="wManagement"></span></td>
	<td class="last"><span id="rManagement"></span></td>
</tr>
<tr>
	<td>매각수수료</td>
	<td><span id="tSellSusulyo"></span> X <span id="sSellSusulyo"></span></td>
	<td><span id="wSellSusulyo"></span></td>
	<td class="last"><span id="rSellSusulyo"></span></td>
</tr>
<tr>
	<td>예비비</td>
	<td><span id="tPreparation"></span> X <span id="sPreparation"></span></td>
	<td><span id="wPreparation"></span></td>
	<td class="last"><span id="rPreparation"></span></td>
</tr>
<tr>
	<td class="sogye-cate"></td>
	<td class="sogye">소 계</td>
	<td></td>
	<td><span id="wSaeobgyeongbi"></span></td>
	<td class="last"><span id="rSaeobgyeongbi"></span></td>
</tr>
<tr>
	<td class="sogye-cate"></td>
	<td colspan="2" class="sogye">지출합계(A+B+C+D+E+F)</td>
	<td></td>
	<td><span id="wJichool"></span></td>
	<td class="last"><span id="rJichool"></span></td>
</tr>
<tr>
	<td rowspan="6">수입</td>
	<td rowspan="3">A.매각</td>
	<td>건물</td>
	<td></td>
	<td></td>
	<td class="last"></td>
</tr>
<tr>
	<td>설비</td>
	<td></td>
	<td></td>
	<td class="last"></td>
</tr>
<tr>
	<td>토지</td>
	<td></td>
	<td></td>
	<td class="last"></td>
</tr>
<tr>
	<td class="sogye-cate"></td>
	<td class="sogye">소계</td>
	<td></td>
	<td></td>
	<td class="last"></td>
</tr>
<tr>
	<td>B.운영</td>
	<td>임대</td>
	<td></td>
	<td></td>
	<td class="last"></td>
</tr>
<tr>
	<td class="sogye-cate"></td>
	<td class="sogye">소계</td>
	<td></td>
	<td></td>
	<td class="last"></td>
</tr>
<tr>
	<td class="sogye-cate"></td>
	<td colspan="2" class="sogye">수입합계(A+B)</td>
	<td></td>
	<td></td>
	<td class="last"></td>
</tr>
<tr>
	<td colspan="6" style="height:30px;border-left:0px;border-right:0px;"></td>
</tr>
<tr>
	<td colspan="3">자기자본 총액</td>
	<td></td>
	<td></td>
	<td class="last"></td>
</tr>
<tr>
	<td colspan="3">매출이익(수입-지출)</td>
	<td></td>
	<td></td>
	<td class="last"></td>
</tr>
<tr>
	<td colspan="3" class="tb-last">경상이익(세전)</td>
	<td class="tb-last"></td>
	<td class="tb-last"></td>
	<td class="tb-last last"></td>
</tr>
</tbody>
</table>
