<table class="table">
<tbody>
<tr>
	<td rowspan="3" class="col0">1.지 출</td>
	<td rowspan="3" class="col1">토지개요</td>
	<td colspan="4">소재지(지번)</td>
</tr>
<tr>
	<td class="col2">지목</td>
	<td class="col3"></td>
	<td class="col4">면적:</td>
	<td class="col5">1000 ㎡</td>
</tr>
<tr>
	<td>개별공시지가(㎡당)</td>
	<td colspan="3">111 원</td>
</tr>
</tbody>
</table>