<div class="container" style="width:250px; padding-left:0px" id="dvSalesView">
    <div class="col-sm-12">
        <div class="checkbox checkbox-primary">
             <input id="salesGyeongmae" class="styled" type="checkbox" data-value="GYEONGMAE">
             <label for="salesGyeongmae">
                            경매
             </label>
        </div>
        <div class="checkbox checkbox-primary">
        	<input id="salesGongmae" class="styled" type="checkbox" data-value="GONGMAE">
            <label for="salesGongmae">
                            공매
            </label>
        </div>
        <div class="checkbox checkbox-primary">
        	<input id="checkbox3" class="styled" type="checkbox" disabled>
            <label for="checkbox3">
                            등록매물
            </label>
        </div>
        <div class="checkbox checkbox-primary">
        	<input id="checkbox4" class="styled" type="checkbox" disabled>
            <label for="checkbox4">
                            건축허가
            </label>
        </div>
        <div class="checkbox checkbox-primary">
        	<input id="checkbox5" class="styled" type="checkbox" disabled>
            <label for="checkbox5">
                            부동산거래
            </label>
        </div>
        <div class="checkbox checkbox-primary">
        	<input id="checkbox6" class="styled" type="checkbox" disabled>
            <label for="checkbox6">
                           개발사업 대상지
            </label>
        </div>
        <div class="checkbox checkbox-primary">
        	<input id="checkbox7" class="styled" type="checkbox" disabled>
            <label for="checkbox7">
                           기반시설 편입 대상지
            </label>
        </div>
        <div class="checkbox checkbox-primary">
        	<input id="checkbox8" class="styled" type="checkbox" disabled>
            <label for="checkbox8">
                           영업허가(신규)
            </label>
        </div>
        <div class="checkbox checkbox-primary">
        	<input id="checkbox9" class="styled" type="checkbox" disabled>
            <label for="checkbox9">
                            영업허가(폐업)
            </label>
        </div>
        <div class="checkbox checkbox-primary">
        	<input id="checkbox10" class="styled" type="checkbox" disabled>
            <label for="checkbox10">
                            유동인구 증가지역
            </label>
        </div>
        <button type="button" class="btn btn-primary glyphicon glyphicon-search" id="btnSearchSalesView"></button>
    </div>
</div>