<div class="container" style="width:250px; padding-left:30px" id="dvSalesView">
    <div class="col-sm-12">
        <div class="checkbox checkbox-primary">
             <input id="salesGyeongmae" class="styled" type="checkbox" data-value="GYEONGMAE">
             <label for="salesGyeongmae">
                            경매
             </label>
        </div>
        <div class="checkbox checkbox-primary">
        	<input id="salesGongmae" class="styled" type="checkbox" data-value="GONGMAE">
            <label for="salesGongmae">
                            공매
            </label>
        </div>
        <div class="checkbox checkbox-primary">
        	<input id="salesBosang" class="styled" type="checkbox" data-value="BOSANG">
            <label for="salesBosang">
                            보상물건
            </label>
        </div>
        <div class="checkbox checkbox-primary">
        	<input id="salesPyeonib" class="styled" type="checkbox" data-value="PYEONIB">
            <label for="salesPyeonib">
                            편입물건
            </label>
        </div>
        <div class="checkbox checkbox-primary">
        	<input id="salesSilgeolae" class="styled" type="checkbox" data-value="SILGEOLAE">
            <label for="salesSilgeolae">
                          실거래가
            </label>
        </div>
        <div class="checkbox checkbox-primary">
        	<input id="salesAcceptBuilding" class="styled" type="checkbox" data-value="ACCEPT_BUILDING">
            <label for="salesAcceptBuilding">
                            건축허가
            </label>
        </div>
        <div class="checkbox checkbox-primary">
        	<input id="checkbox6" class="styled" type="checkbox" disabled>
            <label for="checkbox6">
                           개발사업 대상지
            </label>
        </div>
        <div class="checkbox checkbox-primary">
        	<input id="checkbox7" class="styled" type="checkbox" disabled>
            <label for="checkbox7">
                           기반시설 편입 대상지
            </label>
        </div>
        <!--<div class="checkbox checkbox-primary">
        	<input id="checkbox8" class="styled" type="checkbox" disabled>
            <label for="checkbox8">
                           영업허가(신규)
            </label>
        </div>
        <div class="checkbox checkbox-primary">
        	<input id="checkbox9" class="styled" type="checkbox" disabled>
            <label for="checkbox9">
                            영업허가(폐업)
            </label>
        </div>-->
        <div class="checkbox checkbox-primary">
        	<input id="checkbox10" class="styled" type="checkbox" disabled>
            <label for="checkbox10">
                            유동인구 증가지역
            </label>
        </div>
        <button type="button" class="btn btn-primary glyphicon glyphicon-search" id="btnSearchSalesView"></button>
    </div>
</div>