<div id="dvSilgeorae" class="container body" style="width:300px;height:320px; ">
	<div style="padding-top:10px">
		<button type="button" id="btnSilgeoraeClose" class="glyphicon glyphicon-remove close" aria-label="Close"></button>
	</div>

	<table class="table table-bordered" id="tbSilgeorae" style="margin-top:10px;">
	<colgroup>
		<col style="width:25%">
    	<col style="width:65%">
	</colgroup>
	<tbody>
		<tr>
			<td colspan="2" style="text-align:right">
				<button id="btnSilgeoraeDetail" class="btn-xs btn-info">상세조회</button>
			</td>
		</tr>
		<tr>
			<td>용도</td>
			<td><span id="silYongdo"></span></td>
		</tr>
		<tr>
			<td>지목</td>
			<td><span id="silJimok"></span></td>
		</tr>
		<tr>
			<td>계약면적</td>
			<td><span id="silGyeyagarea"></span></td>
		</tr>
		<tr>
			<td>계약년월</td>
			<td><span id="silGyeyagnyeonwol"></span></td>
		</tr>
		<tr>
			<td>계약일</td>
			<td><span id="silGyeyagil"></span></td>
		</tr>
		<tr>
			<td>거래금액</td>
			<td><span id="silGeolaegeumaeg"></span></td>
		</tr>
	</tbody>
	</table>
</div>
