<div id="dvCateGwansim">
    <div class="tableArea">
        <table>
            <tr>
                <th>등록물건지번</th>
                <td>서울특별시 송파구 잠실동 44</td>
            </tr>
            <tr>
                <th>등록일시</th>
                <td>2017년 11월 27일</td>
            </tr>
            <tr>
                <th>Memo</th>
                <td>
                    <textarea name="" id="" cols="30" rows="6" style="resize:none;"></textarea>
                </td>
            </tr>
        </table>
    </div>
    <div class="btnArea">
        <button class="save">저장</button>
        <button>닫기</button>
    </div>
    <div class="message">
        <p>관심물건으로 등록되었습니다.</p>
        <button class="confirm">확인</button>
    </div>
</div>
