<div id="dvCateLlu">
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" href="#tabCateLlu1" data-toggle="tab">
                <div class="hidden-xs">기본정보</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="btn2" class="btn btn-default" href="#tabCateLlu2" data-toggle="tab">
                <div class="hidden-xs">토지대장</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button"  id="btn3" class="btn btn-default" href="#tabCateLlu3" data-toggle="tab">
                <div class="hidden-xs">건축물대장</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button"  id="btn4" class="btn btn-default" href="#tabCateLlu4" data-toggle="tab">
                <div class="hidden-xs">토지이용계획</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button"  id="btn5" class="btn btn-default" href="#tabCateLlu5" data-toggle="tab">
                <div class="hidden-xs">개별공시지가</div>
            </button>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="tabCateLlu1">
            <div class="tojiTable">
                <table>
                    <tr>
                        <th>토지</th>
                        <td class="smallTitle">지목</td>
                        <td>대</td>
                        <td class="smallTitle">면적</td>
                        <td>122,682㎡</td>
                        <td class="smallTitle">공시지가</td>
                        <td>2017-01 → 9,850,000원 / ㎡</td>
                    </tr>
                    <tr>
                        <th rowspan="5">건축물</th>
                        <td class="smallTitle">건물명칭</td>
                        <td colspan="5">레이크팰리스</td>
                    </tr>
                    <tr>
                        <td class="smallTitle">주용도</td>
                        <td colspan="5">공공주택(아파트), 제1.2종근린생활시설</td>
                    </tr>
                    <tr>
                        <td class="smallTitle">대지면적</td>
                        <td>126,628.8㎡</td>
                        <td class="smallTitle">연면적</td>
                        <td>506,900.68㎡</td>
                        <td class="smallTitle">건축물수</td>
                        <td>49동</td>
                    </tr>
                    <tr>
                        <td class="smallTitle">건축면적</td>
                        <td>17,841.76㎡	</td>
                        <td class="smallTitle">건폐율</td>
                        <td>14.09%</td>
                        <td class="smallTitle">용적률</td>
                        <td>273.27%</td>
                    </tr>
                    <tr>
                        <td class="smallTitle">특이사항</td>
                        <td colspan="5"></td>
                    </tr>
                    <tr>
                        <th>토지이용계획</th>
                        <td colspan="6">
                            도시지역, 제3종일반주거지역, 아파트지구, 중심지미관지구, 도로(접합), 가축사육제한구역&lt;가축분뇨의 관리 및 이용에 관한 법률&gt;, 교육환경보호구역&lt;교육환경 보호에 관한 법률&gt;, 상대보호구역(2016-07-21)&lt;교육환경 보호에 관한 법률&gt;, 대공방어협조구역(위탁고도:77-257m)&lt;군사기지 및 군사시설 보호법&gt;, 과밀억제권역&lt;수도권정비계획법&gt;, 3m 건축선 지정구역(세부사항은 건축과에 문의)
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>도면</th>
                        <th>범례</th>
                    </tr>
                    <tr>
                        <td><img src="img/01.png" alt=""></td>
                        <td>
                            <img src="img/a.png" alt=""> 도시지역<br/>
                            <img src="img/b.png" alt=""> 제1종일반주거지역<br/>
                            <img src="img/c.png" alt=""> 제2종일반주거지역<br/>
                            <img src="img/d.png" alt=""> 제3종일반주거지역<br/>
                            <img src="img/e.png" alt=""> 아파트지구<br/>
                            <img src="img/f.png" alt=""> 공원<br/>
                            <img src="img/g.png" alt=""> 학교<br/>
                            <img src="img/h.png" alt=""> 법정동
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="tab-pane fade in" id="tabCateLlu2">
            <div class="tojiTable">
                <table>
                    <tr>
                        <th>지목</th>	
                        <th>면적(㎡)</th>	
                        <th>토지이동(변동)사유</th>	
                    </tr>
                    <tr>
                        <td>대</td>	
                        <td>122,682	</td>	
                        <td>구획정리완료</td>	
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>토지이동일</th>	
                        <th>토지이동사유</th>	
                    </tr>
                    <tr>
                        <td>2007-01-08</td>	
                        <td>구획정리완료</td>	
                    </tr>
                </table>
            </div>
        </div>
        <div class="tab-pane fade in" id="tabCateLlu3">
            <div class="tojiTable">
                <table>
                    <tr>
                        <th>대장종류</th>
                        <th>대지위치</th>
                        <th>건축물명칭</th>
                        <th>동명칭 및 번호</th>
                        <th>주용도</th>
                        <th>연면적(㎡)</th>
                    </tr>
                    <tr>
                        <td>총괄표제부</td>
                        <td>서울특별시 송파구 잠실동 44</td>
                        <td>레이크팰리스</td>
                        <td>-</td>
                        <td>공동주택(아파트),제1.2종근린생활시설</td>
                        <td>506,900.68</td>
                    </tr>
                    <tr>
                        <td>집합건축물(주건축물)</td>
                        <td>서울특별시 송파구 잠실동 44</td>
                        <td>레이크팰리스</td>
                        <td>101동</td>
                        <td>공동주택(아파트),제1.2종근린생활시설</td>
                        <td>7,302.24</td>
                    </tr>
                    <tr>
                        <td>집합건축물(주건축물)</td>
                        <td>서울특별시 송파구 잠실동 44</td>
                        <td>레이크팰리스</td>
                        <td>102동</td>
                        <td>공동주택(아파트),제1.2종근린생활시설</td>
                        <td>6,409.51</td>
                    </tr>
                    <tr>
                        <td>집합건축물(주건축물)</td>
                        <td>서울특별시 송파구 잠실동 44</td>
                        <td>레이크팰리스</td>
                        <td>103동</td>
                        <td>공동주택(아파트),제1.2종근린생활시설</td>
                        <td>8,691.52</td>
                    </tr>
                    <tr>
                        <td>집합건축물(주건축물)</td>
                        <td>서울특별시 송파구 잠실동 44</td>
                        <td>레이크팰리스</td>
                        <td>104동</td>
                        <td>공동주택(아파트),제1.2종근린생활시설</td>
                        <td>8,691.52</td>
                    </tr>
                    <tr>
                        <td>집합건축물(주건축물)</td>
                        <td>서울특별시 송파구 잠실동 44</td>
                        <td>레이크팰리스</td>
                        <td>105동</td>
                        <td>공동주택(아파트),제1.2종근린생활시설</td>
                        <td>8,691.52</td>
                    </tr>
                    <tr>
                        <td>집합건축물(주건축물)</td>
                        <td>서울특별시 송파구 잠실동 44</td>
                        <td>레이크팰리스</td>
                        <td>106동</td>
                        <td>공동주택(아파트),제1.2종근린생활시설</td>
                        <td>8,691.52</td>
                    </tr>
                    <tr>
                        <td>집합건축물(주건축물)</td>
                        <td>서울특별시 송파구 잠실동 44</td>
                        <td>레이크팰리스</td>
                        <td>107동</td>
                        <td>공동주택(아파트),제1.2종근린생활시설</td>
                        <td>8,691.52</td>
                    </tr>
                    <tr>
                        <td>집합건축물(주건축물)</td>
                        <td>서울특별시 송파구 잠실동 44</td>
                        <td>레이크팰리스</td>
                        <td>108동</td>
                        <td>공동주택(아파트),제1.2종근린생활시설</td>
                        <td>8,691.52</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="tab-pane fade in" id="tabCateLlu4">
            <div class="tojiTable">
                <table>
                    <tr>
                        <th>토지소재지</th>
                        <th>지번</th>
                        <th>지목</th>
                        <th>면적(㎡)</th>
                    </tr>
                    <tr>
                        <td>서울특별시 송파구 잠실동</td>
                        <td>44번지</td>
                        <td>대</td>
                        <td>122,682</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td rowspan="6" class="smallTitle">지역·지구등 지정 여부</td>
                        <td class="smallTitle">「국토의 계획 및 이용에 관한 법률」에 따른 지역·지구등</td>
                        <td colspan="2">도시지역, 제3종일반주거지역, 아파트지구, 중심미관지구, 도로(접함)</td>
                    </tr>
                    <tr>
                        <td rowspan="5" class="smallTitle">다른 법령 등에 따른 지역·지구 등</td>
                        <td>가축분뇨의 관리 및 이용에 관한 법률</td>
                        <td>가축사육제한구역</td>
                    </tr>
                    <tr>
                        <td rowspan="2">교육환경 보호에 관한 법률</td>
                        <td>교육환경보호구역</td>
                    </tr>
                    <tr>
                        <td>상대보호구역(2016-07-21)</td>
                    </tr>
                    <tr>
                        <td>군사기지 및 군사시설 보호법</td>
                        <td>대공방어협조구역(위탁고도:77-257m)</td>
                    </tr>
                    <tr>
                        <td>시행령 부칙 제 3조에 따른 추가기재 확인내용</td>
                        <td>3m 건축선 지정구역(세부사항은 건축과에 문의)</td>
                    </tr>
                    <tr>
                        <td class="smallTitle">「토지이용규제 기본법 시행령」 제9조제4항 각 호에 해당되는 사항</td>
                        <td colspan="3">-</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>도면</th>
                        <th>범례</th>
                    </tr>
                    <tr>
                        <td><img src="img/01.png" alt=""></td>
                        <td>
                            <img src="img/a.png" alt=""> 도시지역<br/>
                            <img src="img/b.png" alt=""> 제1종일반주거지역<br/>
                            <img src="img/c.png" alt=""> 제2종일반주거지역<br/>
                            <img src="img/d.png" alt=""> 제3종일반주거지역<br/>
                            <img src="img/e.png" alt=""> 아파트지구<br/>
                            <img src="img/f.png" alt=""> 공원<br/>
                            <img src="img/g.png" alt=""> 학교<br/>
                            <img src="img/h.png" alt=""> 법정동
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="tab-pane fade in" id="tabCateLlu5">
            <div class="tojiTable">
                <table>
                    <tr>
                        <th>가격기준년도</th>
                        <th>토지소재지</th>
                        <th>지번</th>
                        <th>개별공시지가(원)</th>
                        <th>기준일자</th>
                        <th>공시일자</th>
                        <th style="width:4%;">비고</th>
                    </tr>
                    <tr>
                        <td>2017</td>
                        <td>서울특별시 송파구 잠실동</td>
                        <td>0044-0000</td>
                        <td>9,850,000</td>
                        <td>2017-01</td>
                        <td>2017-05-31</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2016</td>
                        <td>서울특별시 송파구 잠실동</td>
                        <td>0044-0000</td>
                        <td>9,230,000</td>
                        <td>2016-01</td>
                        <td>2016-05-31</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2015</td>
                        <td>서울특별시 송파구 잠실동</td>
                        <td>0044-0000</td>
                        <td>8,790,000</td>
                        <td>2015-01</td>
                        <td>2015-05-29</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2014</td>
                        <td>서울특별시 송파구 잠실동</td>
                        <td>0044-0000</td>
                        <td>8,500,000</td>
                        <td>2014-01</td>
                        <td>2014-05-30</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2013</td>
                        <td>서울특별시 송파구 잠실동</td>
                        <td>0044-0000</td>
                        <td>8,180,000</td>
                        <td>2013-01</td>
                        <td>2013-05-31</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2012</td>
                        <td>서울특별시 송파구 잠실동</td>
                        <td>0044-0000</td>
                        <td>8,000,000</td>
                        <td>2012-01</td>
                        <td>2012-05-31</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2011</td>
                        <td>서울특별시 송파구 잠실동</td>
                        <td>0044-0000</td>
                        <td>7,710,000</td>
                        <td>2011-01</td>
                        <td>2011-05-31</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2010</td>
                        <td>서울특별시 송파구 잠실동</td>
                        <td>0044-0000</td>
                        <td>7,630,000</td>
                        <td>2010-01</td>
                        <td>2010-05-31</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
