<div id="dvCateRegMaemul">
	<div class="dvFrame">
    	<div class="tableArea">
        <table>
            <tr>
                <th>등록물건지번</th>
                <td colspan="5">서울특별시 송파구 잠실동 44</td>
            </tr>
            <tr>
                <th>등록일시</th>
                <td colspan="5">2017년 11월 27일</td>
            </tr>
            <tr>
                <th>물건특징</th>
                <td colspan="5"><textarea name="" id="" cols="30" rows="6" style="resize:none;"></textarea></td>
            </tr>
            <tr>
                <th>사진등록</th>
                <td colspan="5">
                	<div id="fileUp" style="width: 250px;">등록</div>
                </td>
            </tr>
            <!--<tr>
                <th rowspan="5">사진설명</th>
                <td class="smallTitle" style="width:60px;">전면</td>
                <td><textarea name="" id="" cols="22" rows="3" style="resize:none;"></textarea></td>
            </tr>
            <tr>
                <td class="smallTitle">주변전경</td>
                <td><textarea name="" id="" cols="22" rows="3" style="resize:none;"></textarea></td>
            </tr>
            <tr>
                <td class="smallTitle">내부1</td>
                <td><textarea name="" id="" cols="22" rows="3" style="resize:none;"></textarea></td>
            </tr>
            <tr>
                <td class="smallTitle">내부2</td>
                <td><textarea name="" id="" cols="22" rows="3" style="resize:none;"></textarea></td>
            </tr>
            <tr>
                <td class="smallTitle">내부3</td>
                <td><textarea name="" id="" cols="22" rows="3" style="resize:none;"></textarea></td>
            </tr>-->
            <tr>
                <th rowspan="2">연락처</th>
                <td class="smallTitle">소속/성명</td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td class="smallTitle">연락처</td>
                <td>
                    <input type="text">
                </td>
            </tr>
        </table>
    	</div>
	</div>
	<div class="btnArea">
        <button id="btnRegMaemulSave">저장</button>
        <button>닫기</button>
    </div>
</div>
