<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.mssql.hotplaceMapper">

	<select id="selectGuGun" resultType="string" parameterType="string">
		select concat(code, ',"', name, '"') 
		  from (
				select distinct [시군구코드] as code,[시군구명] as name 
				  from [지번주소].[dbo].[PNU10] 
				 where [시도코드] = #{si}
				   and [시군구명] != ''
			   ) t1
	      order by name
	</select>
	
	<select id="selectRegionName" resultType="string" parameterType="Address">
		select concat(code, ',"', name, '"') 
		  from (
				select distinct [읍면동코드] as code, [읍면동명] as name 
				  from [지번주소].[dbo].[PNU10] 
				 where [시도코드] = #{si}
				   and [시군구코드] = #{gugun}
				   and [읍면동명] != ''
			   ) t1
	      order by name
	</select>
	
	<select id="selectAddress" resultType="string" parameterType="Address">
		<if test='type == "N"'>
		select concat('"',[PNU], '","', [시도명], ' ', [시군구명], ' ', [읍면동명], ' ', [리명], <if test="san == '2'">' 산',</if> ' ', [본번숫자], '-', [부번숫자], '",',  [위도], ',', [경도], ',', [극북], ',', [극서]) 
		</if>
   		  from (
   		  		<if test='type == "N"'>
   		  		select [PNU],[필지구분코드],[본번숫자],[부번숫자],[시도명],[시군구명],[읍면동명],[리명],[위도],[경도],[극서],[극북]
   		  		</if>
				  from [지번주소].[dbo].[전국지번통합]  
			     where [시도코드] = #{si}
			       and [시군구코드] = #{gugun}
			       and [읍면동코드] = #{region}
			       <if test='type == "N"'>
			       and [필지구분코드] = #{san}
			       <if test='beonjiF != ""'>
			       and [본번숫자]= #{beonjiF}
			       </if>
			       <if test='beonjiS != ""'>
			       and [부번숫자]= #{beonjiS}
			       </if>
			       </if>
			       and [위도] is not null
			    ) tb1
	</select>
	
	<select id="selectLocationBounds" resultType="string" parameterType="hashmap">
		select concat(극서 , ',', 극남,  ',', 극동, ',', 극북, ',', 경도중심, ',',  위도중심, ',', case when PNU존재여부='Y' then round(rand(convert(varbinary, newid()))*100, 2) else 0 end)
          from [좌표계].[dbo].[좌표계]
         where 레벨 = #{level}
           and 극서  between convert(float, #{swx}) and convert(float, #{nex})
           and 극동  between convert(float, #{swx}) and convert(float, #{nex}) 
           and 극남  between convert(float, #{swy}) and convert(float, #{ney})
           and 극북  between convert(float, #{swy}) and convert(float, #{ney})
         order by 극서 asc
	</select>
</mapper>
