<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.mssql.sampleMapper">

	<select id="selectSample" resultType="string" parameterType="string">
		select  top 10000 concat(b.경도, '□',b.위도,'□', round(rand(convert(varbinary, newid()))*10, 1))
		  from [표준공시지가].[dbo].[20170109표준지공시지가] a
    inner join [지번주소].[dbo].[전국지번통합] b on (b.PNU=a.PNU1)
         where (a.PNU1 like '11%' or a.PNU1 like '42%') and 위도 is not null
         <!-- where (a.PNU1 like #{acode} + '%') and 위도 is not null -->
	</select>
</mapper>